/* Base */
body {
  font-family: 'Nunito', sans-serif;
  background-color: #f4f7f6;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #2980b9;
  text-decoration: underline;
}

h2, h3, h4, h5, h6 {
  display: inline-block; /* Necesario para el efecto de subrayado */
  position: relative; /* Establece un contexto de posicionamiento */
  cursor: pointer; /* Opcional: Cambia el cursor a una mano para indicar que es interactivo */
}

h2::after, h3::after, h4::after, h5::after, h6::after {
  content: '';
  position: absolute;
  bottom: -5px; /* Ajusta según el espaciado deseado del subrayado al texto */
  left: 50%;
  right: 50%;
  height: 2px; /* Grosor del subrayado */
  background-color: #3498db; /* Color del subrayado */
  transition: left 0.3s ease, right 0.3s ease; /* Suaviza la transición del subrayado */
}

h2:hover::after, h3:hover::after, h4:hover::after, h5:hover::after, h6:hover::after {
  left: 0;
  right: 0;
}

h1 {
  display: center; /* Necesario para el efecto de subrayado */
  position: relative; /* Establece un contexto de posicionamiento */
  cursor: pointer; /* Opcional: Cambia el cursor a una mano para indicar que es interactivo */
}

h1::after {
  content: '';
  position: absolute;
  bottom: -5px; /* Ajusta según el espaciado deseado del subrayado al texto */
  left: 50%;
  right: 50%;
  height: 2px; /* Grosor del subrayado */
  background-color: #3498db; /* Color del subrayado */
  transition: left 0.3s ease, right 0.3s ease; /* Suaviza la transición del subrayado */
}

h1:hover::after {
  left: 0;
  right: 0;
}

/* Navbar */
.navbar {
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-weight: bold;
  color: #ffffff;
}

.nav-link {
  color: #aad3fa;
  margin-left: 20px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffffff;
}

/* Container & Typography */
.container {
  padding: 2rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  color: #2c3e50;
}

h1, h2, h3, h4 {
  animation: fadeInUp 1s ease-out;
}


/* Cards */
.card {
  border: none;
  transition: transform .3s ease, box-shadow .3s ease;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px; /* Espacio entre tarjetas */
}

.card:hover {
  transform: translateY(-5px) rotate(-2deg);
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}


.card img {
  transition: transform .3s ease;
  max-width: 100%;
  height: auto;
}

.card:hover img {
  transform: scale(1.05);
}

.card-body {
  background-color: #ffffff;
  padding: 20px;
  transition: background-color .3s, color .3s;
}

.card-title, .card-text {
  transition: color 0.3s ease;
}

/* Botones */
.btn-primary {
  background-color: #3ca8e7;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  color: #ffffff;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #266a92;
  transform: scale(1.05) rotate(3deg);
}


/* Footer */
footer {
  background: linear-gradient(135deg, #2575fc 0%, #6a11cb 100%);
  color: #ffffff;
  padding: 1rem 0;
  text-align: center;
  margin-top: 20px; /* Espacio entre el contenido y el pie de página */
}

footer a {
  color: #ffffff;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #aad3fa;
}

/* Animaciones y efectos visuales */
@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
}

/* Responsive y ajustes adicionales */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .nav-link {
    margin-left: 0;
    margin-top: 10px;
  }

  .container {
    padding: 1rem 0;
    width: 90%;
  }

  .col-md-8 {
    margin-top: 2rem;
  }

  h1, h2, h3, h4, h5, h6 {
  text-align: center;
  }
  
}

/* Modo oscuro específicos */

body, .dark-mode {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .navbar {
  background-color: #1f1f1f !important;
}

.dark-mode .card {
  background-color: #565d68;
}

.dark-mode .card-body {
  color: white;
  background-color: #353940;
}

.dark-mode .btn-primary {
  background-color: #3498db;
}

.dark-mode footer {
  background-color: #2c3e50;
}

.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6 {
  font-weight: 800;
  color: white;
}

.dark-mode .navbar {
  background: linear-gradient(135deg, #000000 80%, #2575fc 100%);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark-mode .footer {
  background: linear-gradient(135deg, #000000 80%, #2575fc 100%);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Esta sección extiende el diseño con más detalles y elementos */
.input-field {
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 20px;
  width: calc(100% - 30px); /* Ajuste para el padding */
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.input-field:focus {
  border-color: #3498db;
  outline: none;
}

.label {
  display: block;
  margin-bottom: 5px;
  color: #7f8c8d;
}

